*.DS_Store
*/.DS_Store
*/*.DS_Store
.DS_Store?
*/bin/*
clubwarlogic/obj/
teste-results
teste-results/
./teste-results/
*.pibd
*.pidb
*teste-results/
*/test-results/
test-results/
obj/
*.userprefs
!*/bin/templates/
*/bin/tempates/.DS_Store
!*/bin/templates/*
